<%-include('templates/cabecera', {tituloWeb: 'Página de inicio'} ) %>
<body>
    <h1 class="text-primary">Título de mi sitio web</h1>
    <h2><%= titulo %></h2>
    <%-include('templates/footer' ) %>

</body>
</html>